@import "tailwindcss";

@theme {
  --container-padding: [:default 1rem, :md 2rem, :lg 4rem, :xl 5rem, :2xl 6rem];
  --container-center: true;
}

.logofont {
  font-family: 'Island Moments', cursive;
}

.footerfont{
  font-family: "Poppins", sans-serif;
}

.font-inter{
  font-family: "Inter", sans-serif;
}